<a href="https://colab.research.google.com/github/rono1579/CAT-2/blob/main/CAT_2_GRADUATION_SUCCESS_MODEL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATA SCIENCE CAT 2;**

BCS-05-0130/2022

In [1]:
import pandas as pd

YUSUF = pd.read_csv('/content/graduation_dataset.csv')

YUSUF.head(5)

,Marital status,Application mode,Application order,Course,Previous qualification,Mother's occupation,Father's occupation,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,Unemployment rate,GDP,Target
0,1,8,5,2,1,6,10,1,1,0,20,10.8,1.74,Dropout
1,1,6,1,11,1,4,4,0,1,0,19,13.9,0.79,Graduate
2,1,1,5,5,1,10,10,0,1,0,19,10.8,1.74,Dropout
3,1,8,2,15,1,6,4,1,0,0,20,9.4,-3.12,Graduate
4,2,12,1,3,1,10,10,1,0,0,45,13.9,0.79,Graduate

In [2]:
YUSUF.shape

(99, 14)

In [4]:
YUSUF.describe()

,Marital status,Application mode,Application order,Course,Previous qualification,Mother's occupation,Father's occupation,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,Unemployment rate,GDP
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,1.131313,6.727273,1.919192,9.969697,2.373737,7.151515,7.464646,0.909091,0.393939,0.232323,22.989899,11.833333,0.189495
std,0.487527,5.170201,1.468560,4.454886,3.824160,2.844126,3.124339,0.288943,0.491108,0.424463,7.644519,2.674101,2.227922
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,18.000000,7.600000,-4.060000
25%,1.000000,1.000000,1.000000,7.000000,1.000000,5.000000,5.500000,1.000000,0.000000,0.000000,18.000000,9.400000,-1.700000
50%,1.000000,8.000000,1.000000,11.000000,1.000000,7.000000,8.000000,1.000000,0.000000,0.000000,20.000000,11.100000,0.790000
75%,1.000000,12.000000,2.500000,12.000000,1.000000,10.000000,10.000000,1.000000,1.000000,0.000000,24.000000,13.900000,1.790000
max,4.000000,17.000000,6.000000,17.000000,16.000000,16.000000,22.000000,1.000000,1.000000,1.000000,55.000000,16.200000,3.510000

In [5]:
YUSUF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Marital status           99 non-null     int64
 1   Application mode         99 non-null     int64
 2   Application order        99 non-null     int64
 3   Course                   99 non-null     int64
 4   Previous qualification   99 non-null     int64
 5   Mother's occupation      99 non-null     int64
 6   Father's occupation      99 non-null     int64
 7   Tuition fees up to date  99 non-null     int64
 8   Gender                   99 non-null     int64
 9   Scholarship holder       99 non-null     int64
 10  Age at enrollment        99 non-null     int64
 11  Unemployment rate        99 non-null     float64
 12  GDP                      99 non-null     float64
 13  Target                   99 non-null     object
dtypes: float64(2), int64(11), object(1)
memory usage: 11.0+ KB

In [8]:

Y = YUSUF.drop('Target', axis=1)

In [7]:
Y

,Marital status,Application mode,Application order,Course,Previous qualification,Mother's occupation,Father's occupation,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,Unemployment rate,GDP
0,1,8,5,2,1,6,10,1,1,0,20,10.8,1.74
1,1,6,1,11,1,4,4,0,1,0,19,13.9,0.79
2,1,1,5,5,1,10,10,0,1,0,19,10.8,1.74
3,1,8,2,15,1,6,4,1,0,0,20,9.4,-3.12
4,2,12,1,3,1,10,10,1,0,0,45,13.9,0.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2,12,1,3,1,10,10,1,0,0,44,12.7,-1.70
95,1,6,1,7,1,10,3,1,1,0,19,13.9,0.79
96,1,1,5,15,1,6,6,1,0,0,18,8.9,3.51
97,1,1,5,12,1,8,8,1,0,1,18,12.4,1.79
98,1,1,1,6,1,10,2,1,0,0,19,12.7,-1.70

In [10]:
X = YUSUF['Target']
X.head()

0     Dropout
1    Graduate
2     Dropout
3    Graduate
4    Graduate
Name: Target, dtype: object

In [11]:
from sklearn.model_selection import train_test_split

Y_train, Y_test, X_train, X_test = train_test_split(Y, X, test_size = 0.2, random_state = 42)

In [12]:

Y_train

,Marital status,Application mode,Application order,Course,Previous qualification,Mother's occupation,Father's occupation,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,Unemployment rate,GDP
49,1,1,1,10,1,10,10,1,0,1,19,12.7,-1.70
70,1,8,1,9,1,6,6,1,1,0,18,7.6,0.32
68,1,1,3,9,1,8,8,1,1,0,19,16.2,-0.92
15,1,1,1,15,1,10,4,1,0,0,20,15.5,-4.06
39,1,15,1,8,14,4,7,0,0,0,20,12.4,1.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,1,1,2,12,1,10,10,1,0,0,18,16.2,-0.92
71,1,8,1,12,1,9,5,1,1,0,24,13.9,0.79
14,1,1,1,6,1,6,6,1,0,1,18,10.8,1.74
92,1,6,1,8,1,5,5,1,0,0,26,8.9,3.51
51,1,1,1,12,1,7,7,1,0,1,19,9.4,-3.12

In [14]:
Y_test

,Marital status,Application mode,Application order,Course,Previous qualification,Mother's occupation,Father's occupation,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,Unemployment rate,GDP
62,1,8,3,2,1,5,8,1,1,1,19,10.8,1.74
40,1,1,5,15,1,3,3,1,0,0,18,12.7,-1.70
95,1,6,1,7,1,10,3,1,1,0,19,13.9,0.79
18,1,1,1,8,1,4,6,1,0,0,20,10.8,1.74
97,1,1,5,12,1,8,8,1,0,1,18,12.4,1.79
84,2,12,1,3,1,10,7,1,0,0,33,9.4,-3.12
64,1,14,1,5,1,4,4,1,1,0,24,12.7,-1.70
42,1,1,6,12,1,3,3,1,0,0,22,11.1,2.02
10,1,1,1,14,1,6,8,1,0,0,18,13.9,0.79
0,1,8,5,2,1,6,10,1,1,0,20,10.8,1.74
31,1,16,1,5,1,16,22,1,1,0,20,8.9,3.51
76,1,9,4,11,1,8,8,1,1,1,21,9.4,-3.12
47,1,8,6,12,1,8,8,1,0,1,22,11.1,2.02
26,1,8,2,10,1,8,9,1,0,0,21,16.2,-0.92
44,1,12,1,17,1,10,10,1,0,0,29,16.2,-0.92
4,2,12,1,3,1,10,10,1,0,0,45,13.9,0.79
22,1,1,4,12,1,2,2,1,0,0,18,12.7,-1.70
12,1,1,2,16,1,5,10,1,0,0,19,12.7,-1.70
88,1,1,6,9,1,10,10,1,1,0,23,11.1,2.02
73,1,8,4,11,1,6,8,1,1,0,18,12.4,1.79

In [15]:
X_train

49    Graduate
70    Enrolled
68     Dropout
15     Dropout
39     Dropout
        ...
60    Graduate
71    Graduate
14    Graduate
92     Dropout
51    Enrolled
Name: Target, Length: 79, dtype: object

In [16]:
X_test

62    Enrolled
40     Dropout
95    Enrolled
18    Graduate
97    Graduate
84    Graduate
64    Enrolled
42    Graduate
10    Graduate
0      Dropout
31    Graduate
76     Dropout
47    Graduate
26    Graduate
44     Dropout
4     Graduate
22    Graduate
12     Dropout
88    Enrolled
73     Dropout
Name: Target, dtype: object

In [17]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

Y_train = sc.fit_transform(Y_train)
Y_test= sc.transform(Y_test)

Y_test

array([[-0.26710361,  0.23209423,  1.16885804, -1.86202463, -0.41102059,
        -0.80102684,  0.22882876,  0.35856858,  1.24434203,  1.77704663,
        -0.52749756, -0.33967953,  0.6893893 ],
       [-0.26710361, -1.11893851,  2.89483533,  1.11200227, -0.41102059,
        -1.54115689, -1.57891843,  0.35856858, -0.80363756, -0.56273143,
        -0.65454727,  0.33832442, -0.81469256],
       [-0.26710361, -0.15391512, -0.55711925, -0.71816813, -0.41102059,
         1.04929831, -1.57891843,  0.35856858,  1.24434203, -0.56273143,
        -0.52749756,  0.76653745,  0.27401786],
       [-0.26710361, -1.11893851, -0.55711925, -0.48939683, -0.41102059,
        -1.17109187, -0.49427012,  0.35856858, -0.80363756, -0.56273143,
        -0.40044784, -0.33967953,  0.6893893 ],
       [-0.26710361, -1.11893851,  2.89483533,  0.42568837, -0.41102059,
         0.30916825,  0.22882876,  0.35856858, -0.80363756,  1.77704663,
        -0.65454727,  0.23127117,  0.71125095],
       [ 1.65118597,  1.00411295, -0.55711925, -1.63325333, -0.41102059,
         1.04929831, -0.13272068,  0.35856858, -0.80363756, -0.56273143,
         1.25119847, -0.83926139, -1.43556355],
       [-0.26710361,  1.3901223 , -0.55711925, -1.17571073, -0.41102059,
        -1.17109187, -1.21736899,  0.35856858,  1.24434203, -0.56273143,
         0.10775103,  0.33832442, -0.81469256],
       [-0.26710361, -1.11893851,  3.75782398,  0.42568837, -0.41102059,
        -1.54115689, -1.57891843,  0.35856858, -0.80363756, -0.56273143,
        -0.14634841, -0.23262627,  0.81181457],
       [-0.26710361, -1.11893851, -0.55711925,  0.88323097, -0.41102059,
        -0.43096181,  0.22882876,  0.35856858, -0.80363756, -0.56273143,
        -0.65454727,  0.76653745,  0.27401786],
       [-0.26710361,  0.23209423,  2.89483533, -1.86202463, -0.41102059,
        -0.43096181,  0.95192763,  0.35856858,  1.24434203, -0.56273143,
        -0.40044784, -0.33967953,  0.6893893 ],
       [-0.26710361,  1.77613166, -0.55711925, -1.17571073, -0.41102059,
         3.26968849,  5.29052089,  0.35856858,  1.24434203, -0.56273143,
        -0.40044784, -1.01768348,  1.46329188],
       [-0.26710361,  0.42509891,  2.03184669,  0.19691707, -0.41102059,
         0.30916825,  0.22882876,  0.35856858,  1.24434203,  1.77704663,
        -0.27339812, -0.83926139, -1.43556355],
       [-0.26710361,  0.23209423,  3.75782398,  0.42568837, -0.41102059,
         0.30916825,  0.22882876,  0.35856858, -0.80363756,  1.77704663,
        -0.14634841, -0.23262627,  0.81181457],
       [-0.26710361,  0.23209423,  0.30586939, -0.03185423, -0.41102059,
         0.30916825,  0.5903782 ,  0.35856858, -0.80363756, -0.56273143,
        -0.27339812,  1.58727908, -0.47365074],
       [-0.26710361,  1.00411295, -0.55711925,  1.56954487, -0.41102059,
         1.04929831,  0.95192763,  0.35856858, -0.80363756, -0.56273143,
         0.74299961,  1.58727908, -0.47365074],
       [ 1.65118597,  1.00411295, -0.55711925, -1.63325333, -0.41102059,
         1.04929831,  0.95192763,  0.35856858, -0.80363756, -0.56273143,
         2.77579507,  0.76653745,  0.27401786],
       [-0.26710361, -1.11893851,  2.03184669,  0.42568837, -0.41102059,
        -1.91122192, -1.94046787,  0.35856858, -0.80363756, -0.56273143,
        -0.65454727,  0.33832442, -0.81469256],
       [-0.26710361, -1.11893851,  0.30586939,  1.34077357, -0.41102059,
        -0.80102684,  0.95192763,  0.35856858, -0.80363756, -0.56273143,
        -0.52749756,  0.33832442, -0.81469256],
       [-0.26710361, -1.11893851,  3.75782398, -0.26062553, -0.41102059,
         1.04929831,  0.95192763,  0.35856858,  1.24434203, -0.56273143,
        -0.01929869, -0.23262627,  0.81181457],
       [-0.26710361,  0.23209423,  2.03184669,  0.19691707, -0.41102059,
        -0.43096181,  0.22882876,  0.35856858,  1.24434203, -0.56273143,
        -0.65454727,  0.23127117,  0.71125095]])

In [18]:

Y_train

array([[-0.26710361, -1.11893851, -0.55711925, ..., -0.52749756,
         0.33832442, -0.81469256],
       [-0.26710361,  0.23209423, -0.55711925, ..., -0.65454727,
        -1.48158093,  0.0685183 ],
       [-0.26710361, -1.11893851,  1.16885804, ..., -0.52749756,
         1.58727908, -0.47365074],
       ...,
       [-0.26710361, -1.11893851, -0.55711925, ..., -0.65454727,
        -0.33967953,  0.6893893 ],
       [-0.26710361, -0.15391512, -0.55711925, ...,  0.36185046,
        -1.01768348,  1.46329188],
       [-0.26710361, -1.11893851, -0.55711925, ..., -0.52749756,
        -0.83926139, -1.43556355]])

In [20]:
import numpy as np

value_counts = X.value_counts()
value_counts

Graduate    49
Dropout     28
Enrolled    22
Name: Target, dtype: int64

In [21]:
X_train=np.array(X_train)
X_test=np.array(X_test)

In [22]:

X_train

array(['Graduate', 'Enrolled', 'Dropout', 'Dropout', 'Dropout',
       'Graduate', 'Dropout', 'Dropout', 'Graduate', 'Dropout',
       'Graduate', 'Enrolled', 'Graduate', 'Enrolled', 'Graduate',
       'Enrolled', 'Enrolled', 'Dropout', 'Enrolled', 'Dropout',
       'Graduate', 'Dropout', 'Graduate', 'Enrolled', 'Enrolled',
       'Dropout', 'Enrolled', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Graduate', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Graduate', 'Dropout', 'Graduate', 'Dropout',
       'Enrolled', 'Dropout', 'Dropout', 'Graduate', 'Graduate',
       'Graduate', 'Graduate', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Graduate', 'Graduate', 'Graduate', 'Dropout',
       'Dropout', 'Enrolled', 'Dropout', 'Enrolled', 'Enrolled',
       'Enrolled', 'Dropout', 'Enrolled', 'Graduate', 'Enrolled',
       'Enrolled', 'Dropout', 'Graduate', 'Graduate', 'Dropout',
       'Graduate', 'Graduate', 'Dropout', 'Graduate', 'Graduate',
       'Graduate', 'Graduate', 'Dropout', 'Enrolled'], dtype=object)

In [24]:

from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score

In [30]:

gb = GradientBoostingClassifier()
gb.fit(Y_train, X_train)
X_prediction = gb.predict(Y_test)
print(accuracy_score(X_test, X_prediction))

0.5

In [33]:

Models_Percentage = pd.DataFrame({'Models':['GradientBoostingClassifier'], 'AccuracyScore':[accuracy_score(X_test, X_prediction)
                                                                                            ]})

In [34]:
Models_Percentage

                       Models  AccuracyScore
0  GradientBoostingClassifier            0.5

In [37]:
Y= YUSUF.drop('Target', axis=1)
Y

,Marital status,Application mode,Application order,Course,Previous qualification,Mother's occupation,Father's occupation,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,Unemployment rate,GDP
0,1,8,5,2,1,6,10,1,1,0,20,10.8,1.74
1,1,6,1,11,1,4,4,0,1,0,19,13.9,0.79
2,1,1,5,5,1,10,10,0,1,0,19,10.8,1.74
3,1,8,2,15,1,6,4,1,0,0,20,9.4,-3.12
4,2,12,1,3,1,10,10,1,0,0,45,13.9,0.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2,12,1,3,1,10,10,1,0,0,44,12.7,-1.70
95,1,6,1,7,1,10,3,1,1,0,19,13.9,0.79
96,1,1,5,15,1,6,6,1,0,0,18,8.9,3.51
97,1,1,5,12,1,8,8,1,0,1,18,12.4,1.79
98,1,1,1,6,1,10,2,1,0,0,19,12.7,-1.70

In [39]:

X = YUSUF['Target']
X

0      Dropout
1     Graduate
2      Dropout
3     Graduate
4     Graduate
        ...
94    Graduate
95    Enrolled
96    Graduate
97    Graduate
98    Enrolled
Name: Target, Length: 99, dtype: object

In [41]:

Y = sc.fit_transform(Y)

Y

array([[-0.27071586,  0.24741866,  2.10851883, ..., -0.39310712,
        -0.38838924,  0.69948389],
       [-0.27071586, -0.14138209, -0.62909906, ..., -0.52458551,
         0.77677848,  0.2709076 ],
       [-0.27071586, -1.11338395,  2.10851883, ..., -0.52458551,
        -0.38838924,  0.69948389],
       ...,
       [-0.27071586, -1.11338395,  2.10851883, ..., -0.6560639 ,
        -1.10252429,  1.49798918],
       [-0.27071586, -1.11338395,  2.10851883, ..., -0.6560639 ,
         0.21298765,  0.72204054],
       [-0.27071586, -1.11338395, -0.62909906, ..., -0.52458551,
         0.32574581, -0.8524134 ]])

In [44]:
rf = GradientBoostingClassifier()
rf.fit(Y,X)

GradientBoostingClassifier()

In [43]:

import joblib

joblib.dump(rf, 'Graduation_Success_Model')

['Graduation_Success_Model']